.serverSection {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.serverSection .content {
  width: 1440px;
  padding: 100px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serverSection .content .title {
  font-size: 40px;
  line-height: 1;
  font-weight: bolder;
  margin-bottom: 30px;
}
.serverSection .content .subTitle {
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 60px;
}
.serverSection .content .list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.serverSection .content .list .listItem {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.serverSection .content .list .listItem .con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serverSection .content .list .listItem .con .icon {
  font-size: 100px;
}
.serverSection .content .list .listItem .con .text {
  font-size: 40px;
  font-weight: bolder;
}
.serverSection .content .list .listItem .con .subText {
  font-size: 20px;
}
.serverSection .content .list .listItem:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .serverSection .content {
    width: 100%;
  }
  .serverSection .content .list {
    flex-direction: column;
    align-items: center;
  }
  .serverSection .content .list .listItem {
    width: 80%;
  }
}
