.serverSection {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.serverSection .content {
  width: 1440px;
  padding: 100px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serverSection .content .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serverSection .content .list .listItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
  cursor: pointer;
}
.serverSection .content .list .listItem:last-child {
  margin-bottom: 0;
}
.serverSection .content .list .listItem .con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serverSection .content .list .listItem .con .icon {
  font-size: 100px;
}
.serverSection .content .list .listItem .con .text {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.serverSection .content .list .listItem .con .subText {
  font-size: 20px;
}
.serverSection .content .list .listItem:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .serverSection .content {
    width: 100%;
  }
  .serverSection .content .list {
    flex-direction: column;
    align-items: center;
  }
  .serverSection .content .list .listItem {
    width: 100%;
    margin-bottom: 100px;
  }
  .serverSection .content .list .listItem .con .text,
  .serverSection .content .list .listItem .con .subText {
    text-align: center;
  }
  .serverSection .content .list .listItem .con .text {
    font-size: 35px;
  }
  .serverSection .content .list .listItem .con .subText {
    font-size: 16px;
  }
}
