.header {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(240, 240, 240, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  .content {
    width: 1440px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      height: 50px;
      cursor: pointer;
    }
    .list {
      display: flex;
      .item {
        position: relative;
        margin-right: 30px;
        color: rgba(22, 71, 124, 0.6);
        cursor: pointer;
        &:hover {
          color: rgba(22, 71, 124, 1);
          &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            height: 2px;
            border-radius: 20px;
            background-color: rgba(22, 71, 124, 1);
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .active {
        color: rgba(22, 71, 124, 1);
        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          width: 50%;
          height: 2px;
          border-radius: 20px;
          background-color: rgba(22, 71, 124, 1);
        }
      }
    }
    .mobileMenu {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    .content {
      width: 100%;
      .list {
        display: none;
      }
      .mobileMenu {
        display: flex;
        .menuIcon {
          width: 41px;
          height: 31px;
        }
      }
    }
  }
}

.mobileMenuPopup {
  height: 40vh;
  color: #fff;
  background-color: rgba(22, 71, 124, 1) !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .menuItem {
    font-size: 25px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .active {
    color: #2a2a2a;
    position: relative;
    &::after {
      content: "";
      width: 60%;
      height: 2px;
      background-color: #2a2a2a;
      margin: auto;
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
    }
  }
}
