.header {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.header .content {
  width: 1440px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .content .logo {
  height: 50px;
  cursor: pointer;
}
.header .content .list {
  display: flex;
}
.header .content .list .item {
  position: relative;
  margin-right: 30px;
  color: rgba(22, 71, 124, 0.6);
  cursor: pointer;
}
.header .content .list .item:hover {
  color: #16477c;
}
.header .content .list .item:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  border-radius: 20px;
  background-color: #16477c;
}
.header .content .list .item:last-child {
  margin-right: 0;
}
.header .content .list .active {
  color: #16477c;
}
.header .content .list .active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  border-radius: 20px;
  background-color: #16477c;
}
.header .content .mobileMenu {
  display: none;
}
@media screen and (max-width: 767px) {
  .header .content {
    width: 100%;
  }
  .header .content .list {
    display: none;
  }
  .header .content .mobileMenu {
    display: flex;
  }
  .header .content .mobileMenu .menuIcon {
    width: 41px;
    height: 31px;
  }
}
.mobileMenuPopup {
  height: 40vh;
  color: #fff;
  background-color: #16477c !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobileMenuPopup .menuItem {
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 40px;
}
.mobileMenuPopup .menuItem:last-child {
  margin-bottom: 0;
}
.mobileMenuPopup .active {
  color: #2a2a2a;
  position: relative;
}
.mobileMenuPopup .active::after {
  content: "";
  width: 60%;
  height: 2px;
  background-color: #2a2a2a;
  margin: auto;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}
