.header {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #01101f;
}
.header .content {
  width: 1440px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .content .logo {
  height: 50px;
}
.header .content .list {
  display: flex;
}
.header .content .list .item {
  position: relative;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.header .content .list .item:hover {
  color: #ffffff;
}
.header .content .list .item:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  border-radius: 20px;
  background-color: #fff;
}
.header .content .list .item:last-child {
  margin-right: 0;
}
.header .content .list .active {
  color: #fff;
}
.header .content .list .active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  border-radius: 20px;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .header .content {
    width: 100%;
  }
}
